body {
    margin: 0;
    background: url("./Images/OldMapBackground.jpg") repeat center;
    background-size: cover;
    height: 100vh;
    font-family: 'Gloria Hallelujah', cursive;
}

* {
    box-sizing: border-box;
}

.mute {
    font-family: "Arial Unicode MS";
}

.header {
    margin-top: 1.5em;
    height: 6em;
    margin-bottom: 2em;
}

.header-photo {
    height: 5em;
}

.title-text {
    font-family: "Modern Antiqua", Garamond;
    font-size: 2em;
    font-weight: bolder;
}

.center {
    justify-content: center;
}

.description-text {
    font-size: 1em;
}

.image-size {
    height: 20em;
    object-fit: scale-down;
    margin: auto;
    align-items: center;
    width: 100%;
}

.postcard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-bg {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.weather-text {
    font-size: 1em;
    text-align: center;
}

.button-text {
    font-size: 1em;
    height: 3em;
    width: 25em;
    border: 2px solid darkblue;
}

.map-section {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20em;
}

#theMap{
    height: 114%;
    width: 80%;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
}

.plane{
    position: fixed;
    height: 20vh;
    width: 20vw;
    background-image: url("images/Plane_9_transparent_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: flyPlane 3s;
}

@keyframes flyPlane {
    0%      {right:0;bottom:0;transform: scale(1,1);}
    50%     {right:35vw;bottom:40vh;transform: scale(4,4);}
    100%    {right:110vw;bottom:120vh;transform: scale(1,1);}
}

.wikipedia-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wikipedia-bg {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wikipedia-text {
    border-radius: 10px;
}

.wikipedia-text-bg {
    background: url("./Images/postcard.jpg") no-repeat center;
    background-size: cover;
}

.modal-title {
    font-weight: bold;
    color: white;
}

#modalContent{
    max-width: 100vw;
}

div#nomNomPics0, div#nomNomPics1, div#nomNomPics2, div#nomNomPics3 {
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-image: url("images/Cup-Noodles.jpg"); */
}

@media only screen and (max-width: 992px) {
    /* For mobile phones: 768,992 */
    .header-photo {
        display: none;
    }

    .postcard {
        display: none;
    }

    .vol {
        position: fixed;
        top: 0;
        right: 1em;
    }
}