
body {
    margin: 0;
    background: url("./Images/postage.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.header {
    height: 15%;
    width: 100vw;
    background-color: white;
    border: 3px solid darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-photo {
    height: 100%;
    width: auto;
    left: 0;
}

.header-container {
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./Images/postcard.jpg") no-repeat center;
    background-size: cover;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
}

.title, .description {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-text, .description-text {

}

.main-content {
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pic-section {
    width: 100%;
}

.row-for-pics {
    display: flex;
    justify-content: space-around;
}

.postcard-bg {
    height: 150px;
    width: 23%;
    background: url("./Images/postcard2.jpg") no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-bg0, .pic-bg1, .pic-bg2, .pic-bg3 {
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-bg {
    height: 90%;
    width: 100%;
}


.image-size {
    width: 85%;
    overflow: hidden;
}

.weather-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-bg {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weather-text {
    border-radius: 10px;
}

.weather-text-bg {
    background: url("./Images/postcard.jpg") no-repeat center;
    background-size: cover;
}

.button-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    height: 50px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    border: 1px solid darkgoldenrod;
}

.map-section {
    width: 100%;
    display: flex;
    justify-content: center;
}


#theMap{
    height: 300px;
    width: 90%;
    border-radius: 10px;
}

.plane{
    position: fixed;
    height: 20vh;
    width: 20vw;
    background-image: url("images/Plane_9_transparent_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: flyPlane 3s;
}

@keyframes flyPlane {
    0%      {right:0;bottom:0;transform: scale(1,1);}
    50%     {right:35vw;bottom:40vh;transform: scale(4,4);}
    100%    {right:110vw;bottom:120vh;transform: scale(1,1);}
}


@media screen and (max-width: 420px) {

}

.wikipedia-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wikipedia-bg {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wikipedia-text {
    border-radius: 10px;
}

.wikipedia-text-bg {
    background: url("./Images/postcard.jpg") no-repeat center;
    background-size: cover;
}